<div class="yolo" layout="column" layout-align="start center" >
  <a class="fltLft" href="/dashboard">
    <img src="../../img/grownorth-logo-concept.png">
  </a>
    <md-content>
      <md-nav-bar class="transparent" md-selected-nav-item="currentNavItem">
        <md-nav-item md-nav-href="/dashboard" name="dashboard">
          Dashboard
        </md-nav-item>
        <md-nav-item md-nav-href="/directory" name="directory">
          Directory
        </md-nav-item>
        <md-nav-item md-nav-href="/form" name="directory">
          Survey
        </md-nav-item>
        <md-nav-item md-nav-href="/user" name="user">
          Account
        </md-nav-item>
        <md-nav-item md-nav-href="/logout" name="logout">
          Logout
        </md-nav-item>
      </md-nav-bar>
    </md-content>
</div>