<!-- <<div class="range-label">Displaying {{ range.lower }} - {{ range.upper }} of {{ range.total }}</div> -->
<div layout="row" layout-align="center">
    <md-button class="groupX left md-raised" ng-click="setCurrent(1)">First</md-button>
    <md-button title="Previous page" class="groupX middle md-raised" ng-class="{ disabled : pagination.current == 1 }" ng-click="setCurrent(pagination.current - 1)">Previous</md-button>
    <md-button ng-if="pagination.current>2" class="groupX middle md-raised md-mini" ng-click="setCurrent(pagination.current - 2)">{{pagination.current - 2}}</md-button>
    <md-button ng-if="pagination.current>1" class="groupX middle md-raised" ng-click="setCurrent(pagination.current - 1)">{{pagination.current - 1}}</md-button>
    <md-button class="groupX middle md-raised md-primary md-mini">{{pagination.current}}</md-button>
    <md-button ng-if="range.upper<range.total" class="groupX middle md-raised" ng-click="setCurrent(pagination.current + 1)">{{pagination.current + 1}}</md-button>
    <md-button ng-if="range.upper<range.total-8" class="groupX middle md-raised" ng-click="setCurrent(pagination.current + 2)">{{pagination.current + 2}}</md-button>    
    <md-button title="Next page" class="groupX middle md-raised" ng-class="{ disabled : pagination.current == pagination.last }" ng-click="setCurrent(pagination.current + 1)">Next</md-button>
    <md-button class="groupX right md-raised" ng-click="setCurrent(pagination.last)">Last</md-button>
</div>