<div ng-include="'views/partials/nav.html'"></div>
<div class="dashboard colorContent" ng-init="MC.getMentorNumbers(); MC.getMenteeNumbers(); MC.getConnectionNumbers()" layout="row">
  <div flex="60" layout="row">
    <md-card class="dashMetrics" flex="33">
      <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="3" md-row-height-gt-md="3:2" md-row-height="3:2"
        md-gutter="12px" md-gutter-gt-sm="8px">
        <md-grid-tile class="dashCard" md-rowspan="3" md-colspan="3" md-colspan-sm="2" md-colspan-xs="2">
          <md-grid-tile-header class="gridFooter" layout="column">
            <p class="footerCaption">Number of Mentors</p>
          </md-grid-tile-header>
          <h2>{{MC.mentors.list.length}}</h2>
        </md-grid-tile>
      </md-grid-list>
    </md-card>
    <md-card class="dashMetrics" flex="33">
      <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="3" md-row-height-gt-md="3:2" md-row-height="3:2"
        md-gutter="12px" md-gutter-gt-sm="8px">
        <md-grid-tile class="dashCard" md-rowspan="3" md-colspan="3" md-colspan-sm="2" md-colspan-xs="2">
          <md-grid-tile-header class="gridFooter" layout="column">
            <p class="footerCaption">Number of Mentees</p>
          </md-grid-tile-header>
          <h2>{{MC.mentee.list.length}}</h2>
        </md-grid-tile>
      </md-grid-list>
    </md-card>
    <md-card class="dashMetrics" flex="33">
      <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="3" md-row-height-gt-md="3:2" md-row-height="3:2"
        md-gutter="12px" md-gutter-gt-sm="8px">
        <md-grid-tile class="dashCard" md-rowspan="3" md-colspan="3" md-colspan-sm="2" md-colspan-xs="2">
          <md-grid-tile-header class="gridFooter" layout="column">
            <p class="footerCaption">Total Connections Made</p>
          </md-grid-tile-header>
          <h2>{{MC.connections.list.length}}</h2>
        </md-grid-tile>
      </md-grid-list>
    </md-card>
  </div>
  <md-menu ng-controller="DirectoryController as DC" ng-init="DC.getApproval()" flex layout="row" layout-align="center none">
    <md-button class="md-raised md-primary" id="awaiting-approval-button" ng-click="$mdMenu.open()" id="notification-menu-header">
      Pending intake forms
    </md-button>
    <md-menu-content width="200x" flex="100">
      <md-menu-item ng-click="showProfile($event, listing.id)" ng-repeat="listing in DC.approval.list | orderBy:MC.sortMethod:MC.reverse | filter:MC.query"
        ng-value="listing.id">
        <md-button>
          <div layout="row">
            <div flex="50">{{listing.firstname}} {{listing.lastname}}</div>
            <div flex="50">{{listing.startdate | date: 'MMMM d, y'}}</div>
          </div>
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</div>
<!-- Directory -->
<md-content ng-controller="DirectoryController as DC" class="colorContent" layout="row" ng-init="DC.getDirectory()">
  <md-card class="cardList" flex>
    <md-toolbar class="approvalList">
      <div class="md-toolbar-tools" layout="row">
        <div flex="20">
          <md-button class="headerBtn" ng-show="DC.sortMethod!=='lastname'" ng-click="DC.sort('lastname')">Name</md-button>
          <md-button class="headerBtn" ng-show="DC.sortMethod=='lastname' && DC.reverse == true" ng-click="DC.sort('lastname')">Name
            <i class="material-icons">arrow_drop_up</i>
          </md-button>
          <md-button class="headerBtn" ng-show="DC.sortMethod=='lastname' && DC.reverse == false" ng-click="DC.sort('lastname')">Name
            <i class="material-icons">arrow_drop_down</i>
          </md-button>
        </div>
        <div flex="20">
          <md-button class="headerBtn">Phone</md-button>
        </div>
        <div flex="20">
          <md-button class="headerBtn">Email</md-button>
        </div>
        <div flex="20">
          <md-button class="headerBtn" ng-show="DC.sortMethod!=='startdate'" ng-click="DC.sort('startdate')">Date Submitted</md-button>
          <md-button class="headerBtn" ng-show="DC.sortMethod=='startdate' && DC.reverse == true" ng-click="DC.sort('startdate')">Date Submitted
            <i class="material-icons">arrow_drop_up</i>
          </md-button>
          <md-button class="headerBtn" ng-show="DC.sortMethod=='startdate' && DC.reverse == false" ng-click="DC.sort('startdate')">Date Submitted
            <i class="material-icons">arrow_drop_down</i>
          </md-button>
        </div>
        <div flex="10">
          <md-button class="headerBtn">Mentor</md-button>
        </div>
        <div flex="10">
          <md-button class="headerBtn">Mentee</md-button>
        </div>
      </div>
    </md-toolbar>
    <md-list>
      <md-list-item class="adminApproval md-2-line" ng-click="showProfile($event, listing.id)" layout="row" ng-repeat="listing in DC.paginatedListings | orderBy:DC.sortMethod:DC.reverse | filter:DC.query track by $index">
        <div flex="20">
          {{ listing.lastname }}, {{ listing.firstname }}
        </div>
        <div flex="20">
          {{ listing.phone }}
        </div>
        <div flex="20">
          {{ listing.email }}
        </div>
        <div flex="20">
          {{ listing.startdate | date: 'longDate' }}
        </div>
        <div flex="10">
          <span ng-if="listing.mentor">Yes</span>
          <span ng-if="!listing.mentor">No</span>
        </div>
        <div flex="10">
          <span ng-if="listing.mentee">Yes</span>
          <span ng-if="!listing.mentee">No</span>
        </div>
      </md-list-item>

    </md-list>
    <md-collection-pagination class="pagination-buttons" collection="DC.directory.list" paginated-collection="DC.paginatedListings"
      per-page=8></md-collection-pagination>
  </md-card>
</md-content>