<div ng-include="'views/partials/nav.html'"></div>
<div ng-init="MC.getMentorNumbers(); MC.getMenteeNumbers(); MC.getConnectionNumbers()" layout="row">
  <div flex="60" layout="row">
    <md-card class="metric-display" layout="row" flex="33">
      <md-toolbar class="md-toolbar-tools" flex="80" class="metric-toolbar">
        <h5>Number of Volunteers</h5>
      </md-toolbar>
      <div flex layout="row" layout-align="center center">
        <h2>{{MC.mentors.list.length}}</h2>
      </div>
    </md-card>
    <md-card class="metric-display" layout="row" flex="33">
      <md-toolbar class="md-toolbar-tools" flex="80" class="metric-toolbar">
        <h5>Number of Entrepreneurs</h5>
      </md-toolbar>
      <div flex layout="row" layout-align="center center">
        <h2>{{MC.mentee.list.length}}</h2>
      </div>
    </md-card>
    <md-card class="metric-display" layout="row" flex="33">
      <md-toolbar class="md-toolbar-tools" flex="80" class="metric-toolbar">
        <h5>Connections Made</h5>
      </md-toolbar>
      <div flex layout="row" layout-align="center center">
        <h2>{{MC.connections.list.length}}</h2>
      </div>
    </md-card>
  </div>
  <md-menu ng-controller="DirectoryController as DC" ng-init="DC.getApproval()" flex layout="row" layout-align="center center">
    <md-button class="md-raised" id="awaiting-approval-button" ng-click="DC.approval.list.length===0||$mdMenu.open()" id="notification-menu-header" layout="row" layout-align="center center">
      <span ng-if="DC.approval.list.length>0">Pending intake forms<md-icon md-svg-src="/img/ic_fiber_new_48px.svg" id="intake-button-icon"></md-icon></span>
      <span ng-if="DC.approval.list.length===0">No pending intake forms</span>
    </md-button>
    <md-menu-content width="200x" flex="100">
      <md-menu-item ng-click="showProfile($event, listing.id)" ng-repeat="listing in DC.approval.list | orderBy:DC.sortMethod:DC.reverse | filter:DC.query"
        ng-value="listing.id">
        <md-button>
          <div layout="row">
            <div flex="50" class="pending-list-name-field">{{listing.firstname}} {{listing.lastname}}</div>
            <div flex="50" class="pending-list-date-field">{{listing.startdate | date: 'MMMM d, y'}}</div>
          </div>
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</div>
<!-- Directory -->
<div ng-controller="DirectoryController as DC" class="colorContent" layout="row" ng-init="DC.getDirectory()">
  <md-input-container class="md-block instaSearch" md-no-float="true">
    <input name="search" ng-model="DC.query" md-no-asterisk="true" placeholder="Search">
  </md-input-container>
  <i class="material-icons searchBtn">search</i>
  <md-card class="cardList" flex>
    <md-toolbar>
      <div class="md-toolbar-tools" layout="row">
        <div flex="20">
          <md-button class="headerBtn" ng-show="DC.sortMethod!=='lastname'" ng-click="DC.sort('lastname')">Name</md-button>
          <md-button class="headerBtn" ng-show="DC.sortMethod=='lastname' && DC.reverse == true" ng-click="DC.sort('lastname')">Name
            <i class="material-icons">arrow_drop_up</i>
          </md-button>
          <md-button class="headerBtn" ng-show="DC.sortMethod=='lastname' && DC.reverse == false" ng-click="DC.sort('lastname')">Name
            <i class="material-icons">arrow_drop_down</i>
          </md-button>
        </div>
        <div flex="20">
          <md-button class="headerBtn">Phone</md-button>
        </div>
        <div flex="20">
          <md-button class="headerBtn">Email</md-button>
        </div>
        <div flex="20">
          <md-button class="headerBtn" ng-show="DC.sortMethod!=='startdate'" ng-click="DC.sort('startdate')">Date Submitted</md-button>
          <md-button class="headerBtn" ng-show="DC.sortMethod=='startdate' && DC.reverse == true" ng-click="DC.sort('startdate')">Date Submitted
            <i class="material-icons">arrow_drop_up</i>
          </md-button>
          <md-button class="headerBtn" ng-show="DC.sortMethod=='startdate' && DC.reverse == false" ng-click="DC.sort('startdate')">Date Submitted
            <i class="material-icons">arrow_drop_down</i>
          </md-button>
        </div>
        <div flex="10">
          <md-button class="headerBtn">Volunteer</md-button>
        </div>
        <div flex="10">
          <md-button class="headerBtn">Entrepreneur</md-button>
        </div>
      </div>
    </md-toolbar>
    <md-list>
      <md-list-item class="adminApproval md-2-line" ng-click="showProfile($event, listing.id)" layout="row" ng-repeat="listing in DC.paginatedListings | orderBy:DC.sortMethod:DC.reverse | filter:DC.query track by $index">
        <div flex="20">
          {{ listing.lastname }}, {{ listing.firstname }}
        </div>
        <div flex="20">
          {{ listing.phone }}
        </div>
        <div flex="20">
          {{ listing.email }}
        </div>
        <div flex="20">
          {{ listing.startdate | date: 'longDate' }}
        </div>
        <div flex="10">
          <span ng-if="listing.mentor">Yes</span>
          <span ng-if="!listing.mentor">No</span>
        </div>
        <div flex="10">
          <span ng-if="listing.mentee">Yes</span>
          <span ng-if="!listing.mentee">No</span>
        </div>
      </md-list-item>

    </md-list>
    <md-collection-pagination class="pagination-buttons" collection="DC.directory.list" paginated-collection="DC.paginatedListings"
      per-page=8></md-collection-pagination>
  </md-card>
</div>