<md-content class="dashboard" >
    <md-card class="dashSearch">
        <md-content class="md-padding">
            <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
                <md-nav-item md-nav-href="#/dashboard" name="Dashboard">Admin Dashboard</md-nav-item>
                <md-nav-item md-nav-href="#/directory" name="Directory">Directory</md-nav-item>
                <md-input-container class="md-icon-float md-block">
                    <!-- Use floating label instead of placeholder -->
                    <md-icon md-svg-src="../../img/magnify.svg" class="search"></md-icon>
                    <input ng-model="" type="text" placeholder="Search">
                </md-input-container>
            </md-nav-bar>
        </md-content>
    </md-card>
    <md-card class="dashMetrics">
        <md-grid-list
            md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
            md-row-height-gt-md="1:1" md-row-height="2:2"
            md-gutter="12px" md-gutter-gt-sm="8px">
            <md-grid-tile class="dashCard"
                md-rowspan="2" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
                <h2>Number logic magic here!</h2>
                <md-grid-tile-footer class="gridFooter" layout="column">
                    <p class="footerCaption">Number of Mentors</p>
                </md-grid-tile-footer>
            </md-grid-tile>
            <md-grid-tile class="dashCard"
                md-rowspan="2" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
                <h2>Number logic magic here!</h2>
                <md-grid-tile-footer class="gridFooter" layout="column">
                    <p class="footerCaption">Total Connections Made</p>
                </md-grid-tile-footer>
            </md-grid-tile>
            <md-grid-tile class="dashCard"
                md-rowspan="2" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
                <h2>Number logic magic here!</h2>
                <md-grid-tile-footer class="gridFooter" layout="column">
                    <p class="footerCaption">Number of Mentees</p>
                </md-grid-tile-footer>
            </md-grid-tile>
        </md-grid-list>
    </md-card>
    <md-card class="awaitingApproval">
       <h2>Intake forms awaiting approval go here!</h2>
    </md-card>
</md-content>