<div ng-include="'views/partials/nav.html'"></div>
<div flex='80'>
    <md-content class="directory" ng-init="DC.getDirectory()">
        <md-list>
            <md-list-item class="adminApproval md-2-line" layout="row">
                <div flex="25">
                    Name
                </div>
                <div flex="15">
                    Phone
                </div>
                <div flex="20">
                    Email
                </div>
                <div flex="20">
                    Date Entered
                </div>
                <div flex="5">
                    Mentor
                </div>
                <div flex="5">
                    Mentee
                </div>
            </md-list-item>
            <md-list-item class="adminApproval md-2-line" ng-click="showProfile($event, listing.id)" layout="row" ng-repeat="listing in DC.directory.list track by $index">
                <div flex="25">
                    {{ listing.lastname }}, {{ listing.firstname }}
                </div>
                <div flex="10">
                    {{ listing.phone }}
                </div>
                <div flex="20">
                    {{ listing.email }}
                </div>
                <div flex="20">
                    {{ listing.startdate | date: 'longDate' }}
                </div>
                <div flex="5">
                    <span ng-if="listing.mentor">Yes</span>
                    <span ng-if="!listing.mentor">No</span>
                </div>
                <div flex="5">
                    <span ng-if="listing.mentee">Yes</span>
                    <span ng-if="!listing.mentee">No</span>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
</div>