<section layout="row">
<div flex="15"></div>
<md-card layout-padding flex>
    <md-card-title>
        <md-card-title-text>
            Confirm your information
        </md-card-title-text>
    </md-card-title>
    <md-card layout-padding>
        <div>
            <h4>Contact Info</h4>
            <p>Greg Wallerus</p>
            <p>greg@noemail.com</p>
            <p>612-222-2222</p>
            <p>Lord of Dance, Greg's Boogie Emporium</p>
            <md-divider></md-divider>
            <p>How did you hear about Grow North?
                <br>The rhythm spoke to me in a dream</p>
            <p>Do we have permission to discuss your business with others in our network?
                <br>
                Yes
            </p>
            <p>Are you interesting in mentoring?
                <br>
                Yes
            </p>
            <p>Are you seeking help from a mentor?
                <br>
                Yes
            </p>
            <div>
                <p>Level of involvement?
                    <br>So involved, you could say I'm involved af</p>
                <p>How can I help?
                    <br>I can coach wild dance moves to large groups</p>
                <p>Provide a specific example of your experience with a startup.
                    <br>I founded Apple in secret</p>
            </div>
            <div>
                <p>What are you struggling with?
                    <br>Smooth Jazz</p>
                <p>What ecosystem does your business reside in?
                    <br>A speakeasy</p>
                <p>How many employees do you have?
                    <br>My two dancing shoes</p>
                <p>What is your business's yearly revenue?
                    <br>I get paid in mix tapes</p>
                <p>What is your distribution area?
                    <br>Whatever the dance floor's size</p>
                <p>What's your story?
                    <br>Lorem ipsum dolor sit amet, sed graeci virtute voluptatum no, nostro utamur usu ad. Eam in perfecto oportere,
                    qui alterum tibique reprimique ad. Ea inimicus deterruisset vis, ei exerci animal dissentiet usu, quo labores
                    accumsan ex. At sea quis purto. Eam impedit legendos prodesset in, per melius denique reformidans ex, nisl
                    iracundia duo ei. An facer tollit malorum quo, quem copiosae gubergren sed in. Nihil aperiri qui ei, deleniti
                    eleifend signiferumque an usu. Suavitate voluptatum mel eu, his cu putant copiosae erroribus. Omnes recusabo
                    inciderint mea at, ius et liber debet singulis, ut fierent constituto mediocritatem eam. No lorem quaerendum
                    per, eum eu nostro legimus.</p>
            </div>
        </div>
    </md-card>
    <md-button class="md-raised" ng-click="FC.page=2">Previous</md-button>
    <md-button class="md-raised" type="submit">Submit</md-button>
</md-card>
<div flex="15"></div>
</section>