<section layout="row">
    <div flex="15"></div>
    <md-card layout-padding flex>
        <md-card-title>
            <md-card-title-text>
                Confirm your information
            </md-card-title-text>
        </md-card-title>
        <div layout="row">
            <div flex="10"></div>
            <md-card layout-padding id="confirmCard" flex>
                <div>
                    <h4>Contact Info</h4>
                    <p>Greg Wallerus</p>
                    <p>greg@noemail.com</p>
                    <p>612-222-2222</p>
                    <p>Lord of Dance, Greg's Boogie Emporium</p>
                    <md-divider></md-divider>
                    <p>How did you hear about Grow North?
                        <br>
                        <span class="surveyAnswer">The rhythm spoke to me in a dream</span>
                    </p>
                    <p>Do we have permission to discuss your business with others in our network?
                        <br>
                        <span class="surveyAnswer">Yes</span>
                    </p>
                    <p>Are you interesting in mentoring?
                        <br>
                        <span class="surveyAnswer">Yes</span>
                    </p>
                    <p>Are you seeking help from a mentor?
                        <br>
                        <span class="surveyAnswer">Yes</span>
                    </p>
                    <div>
                        <p>Level of involvement?
                            <br>
                            <span class="surveyAnswer">So involved, you could say I'm involved af</span>
                        </p>
                        <p>How can I help?
                            <br>
                            <span class="surveyAnswer">I can coach wild dance moves to large groups</span>
                        </p>
                        <p>Provide a specific example of your experience with a startup.
                            <br>
                            <span class="surveyAnswer">I founded Apple in secret</span>
                        </p>
                    </div>
                    <div>
                        <p>What are you struggling with?
                            <br>
                            <span class="surveyAnswer">Smooth Jazz</span>
                        </p>
                        <p>What ecosystem does your business reside in?
                            <br>
                            <span class="surveyAnswer">A speakeasy</span>
                        </p>
                        <p>How many employees do you have?
                            <br>
                            <span class="surveyAnswer">My two dancing shoes</span>
                        </p>
                        <p>What is your business's yearly revenue?
                            <br>
                            <span class="surveyAnswer">I get paid in mix tapes</span>
                        </p>
                        <p>What is your distribution area?
                            <br>
                            <span class="surveyAnswer">Whatever the dance floor's size</span>
                        </p>
                        <p>What's your story?
                            <br>
                            <span class="surveyAnswer">Lorem ipsum dolor sit amet, sed graeci virtute voluptatum no, nostro utamur usu ad. Eam in perfecto
                                oportere, qui alterum tibique reprimique ad. Ea inimicus deterruisset vis, ei exerci animal
                                dissentiet usu, quo labores accumsan ex. At sea quis purto. Eam impedit legendos prodesset
                                in, per melius denique reformidans ex, nisl iracundia duo ei. An facer tollit malorum quo,
                                quem copiosae gubergren sed in. Nihil aperiri qui ei, deleniti eleifend signiferumque an
                                usu. Suavitate voluptatum mel eu, his cu putant copiosae erroribus. Omnes recusabo inciderint
                                mea at, ius et liber debet singulis, ut fierent constituto mediocritatem eam. No lorem quaerendum
                                per, eum eu nostro legimus.</span>
                        </p>
                    </div>
                </div>
            </md-card>
            <div flex="10"></div>
        </div>
        <div layout="row" layout-align="space-around center">
            <md-button  ng-click="FC.page=2" flex="30">Previous</md-button>
            <md-button class="md-primary md-raised" type="submit" flex="30">Submit</md-button>
        </div>
    </md-card>
    <div flex="15"></div>
</section>