<div ng-include="'views/partials/header.html'"></div>
<div class="container" layout-padding layout="row" layout-align="center none">
    <md-card flex=35>
        <h1 class="lead centerText">Grow North Administrator Login</h1>
        <h2 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h2>
        <form ng-submit="lc.login()" layout="column">
            <md-input-container>
                <label for="username">Username:</label>
                <input type="text" ng-model="lc.user.username" />
            </md-input-container>
            <md-input-container>
                <label for="password">Password:</label>
                <input type="password" ng-model="lc.user.password" />
            </md-input-container>
            <div layout="column" layout-align="center none">
                <md-button class="md-raised md-primary" type="submit">Login</md-button>
                <md-button ng-click="reset=true">
                    Forgot username or password?
                </md-button>
                <div ng-show="reset" layout="row" layout-align="center center">
                    <md-input-container>
                        <label>Your email</label>
                        <input ng-model="lc.email" type="email">
                    </md-input-container>
                    <md-button ng-click="lc.passwordReset(lc.email)">
                        Submit
                    </md-button>
                </div>
            </div>
        </form>
    </md-card>

</div>