<md-button class="md-primary" ng-click="uc.Dash()">Return to Dashboard</md-button>
<main class= "greenText centerText">
<div>
  <h1>
    About This Application
  </h1>
</div>

<div>
  <p>The Grow North Administrative Application was created by Greg Wallerus, Evan Kearney, Katie Campbell, Cam Schnackel, Mike Pettman, And Nestor Gomez Jimenez to help Grow North manage their network of volunteers and entrepenuers.</p>
  <p>The main use of this app allows for the administrator to make and track connections between entrepenuers to help grow their business.</p>
</div>

<h3>Icons Made By</h3>
<div>
  <a href="http://www.freepik.com" title="Freepik">Freepik</a> from
  <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
  <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
    target="_blank">CC 3.0 BY</a>
  </div>
<div>
  <a href="https://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a> from
  <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
  <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
    target="_blank">CC 3.0 BY</a>
  </div>
  <h2>Links</h2>
  <div>
  <a target="_blank" href="https://github.com/Wally142/Grow-North-MN">Grow North GitHub Repository</a>
  </div>
  <div>
  <a target="_blank" href="img/GrowNorthGuide.pdf">Application Help</a>
  </div>
  </main>