<md-dialog flex="40">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Admin settings for <span style="text-transform: capitalize">{{userObject.userName}}</span></h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                X
            </md-button>
        </div>
    </md-toolbar>
    <!-- <h1>Admin settings for
        <span style="text-transform: capitalize">{{userObject.userName}}</span>
    </h1> -->
    <md-content layout-padding>
    <h4>{{userObject.message}}</h4>
    <div ng-show="!passwordUpdate">
        <div layout="row" layout-align="center center">
            <md-button ng-show="!emailUpdate" class="md-raised md-primary" ng-click="emailUpdate=!emailUpdate; resetMsg()" flex="50">Update email</md-button>

        </div>
        <div ng-show="emailUpdate" layout="column">
            <form name="emailChange" ng-submit="updateEmail(email)" layout="row" layout-align="center center"
                layout-wrap>
                <md-input-container flex="100">
                    <label>Enter your new email</label>
                    <input name="email" type="email" ng-model="email" required>
                    <div ng-messages="emailChange.email.$error">
                        <div ng-message="required">Please enter an email address.</div>
                        <div ng-message="email">Email address is invalid.</div>
                    </div>
                </md-input-container>
                <md-input-container flex="100">
                    <label>Confirm your new email address</label>
                    <input name="emailConfirm" type="email" ng-model="emailConfirm" required>
                    <div ng-messages="emailChange.emailConfirm.$error">
                        <div ng-message="required">Please confirm your email.</div>
                        <div ng-message="email">Email address is invalid.</div>
                    </div>
                </md-input-container>
                <div layout="row" layout-align="center center" flex="100">
                    <md-button class="md-raised md-primary" type="submit" flex="50">Submit</md-button>
                    <md-button class="md-raised md-warn" ng-click="emailUpdate=!emailUpdate" flex="50">Cancel</md-button>
                </div>
            </form>
        </div>
    </div>

    <div ng-show="!emailUpdate">
        <div layout="row" layout-align="center center">
            <md-button ng-show="!passwordUpdate" class="md-raised md-primary" ng-click="passwordUpdate=!passwordUpdate; resetMsg()" flex="50">Update password</md-button>
        </div>
        <div ng-show="passwordUpdate" layout="column">
            <form name="passwordChange" ng-submit="updatePassword(password)" layout="row" layout-align="center center" layout-wrap>
                <md-input-container flex="100">
                    <label>Enter your new password</label>
                    <input type="password" name="password" ng-model="password" required>
                    <div ng-messages="passwordChange.password.$error">
                        <div ng-message="required">Please enter a password.</div>
                    </div>
                </md-input-container>
                <md-input-container flex="100">
                    <label>Confirm your new password</label>
                    <input type="password" name="passwordConfirm" ng-model="passwordConfirm" required>
                    <div ng-messages="passwordChange.passwordConfirm.$error">
                        <div ng-message="required">Please confirm your password.</div>
                    </div>
                </md-input-container>
                <div layout="row" layout-align="center center" flex="100">
                    <md-button class="md-raised md-primary" type="submit" flex="50">Submit</md-button>
                    <md-button class="md-raised md-warn" ng-click="passwordUpdate=!passwordUpdate" flex="50">Cancel</md-button>
                </div>
        </div>
    </div>
</md-dialog>